<html>
  <div id="app">
    <h2>Using "in" delimiter</h2>
    <ul>
      <li v-for="fruit in fruits">{{ fruit }}</li>
    </ul>
    <h2>Using "of" delimiter</h2>
    <ul>
      <li v-for="fruit of fruits">
          {{ fruit }}
      </li>
    </ul>
    <h2>Accessing element's index variables</h2>
    <ul>
      <li v-for="(fruit, index) of fruits">
          [{{ index }}] {{ fruit }}
      </li>
    </ul>
    <h2>Accessing off-scope variables</h2>
    <ul>
      <li v-for="(fruit, index) of fruits">
          {{ color }} {{ fruit }}
      </li>
    </ul>
  </div>

  <script src="/js/vue.global.js"></script>
  <script>
    let app = Vue.createApp({
      data() {
        return {
          fruits: ['Oranges', 'Apples', 'Watermelons', 'Pears'],
          color: "Red"
        }
      }
    }).mount("#app");
  </script>
</html>